USE [master]
GO
/****** Object:  Database [CarDealership]    Script Date: 10/30/2017 6:39:22 PM ******/
CREATE DATABASE [CarDealership]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarDealership', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CarDealership.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CarDealership_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CarDealership_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarDealership].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarDealership]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 10/30/2017 6:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[BuyerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[LicenseNumber] [nvarchar](20) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_Buyer] PRIMARY KEY CLUSTERED 
(
	[BuyerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Car]    Script Date: 10/30/2017 6:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[VinNumber] [nvarchar](20) NOT NULL,
	[CarMake] [nvarchar](50) NOT NULL,
	[CarModel] [nvarchar](50) NOT NULL,
	[ModelYear] [int] NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Car_Buyer]    Script Date: 10/30/2017 6:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Buyer](
	[Car_BuyerID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[BuyerID] [int] NOT NULL,
 CONSTRAINT [PK_Car_Buyer] PRIMARY KEY CLUSTERED 
(
	[Car_BuyerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Buyer] ON 

INSERT [dbo].[Buyer] ([BuyerID], [FirstName], [LastName], [LicenseNumber], [PhoneNumber]) VALUES (1, N'Joe', N'Blow', N'OH123456', N'330-555-5555')
SET IDENTITY_INSERT [dbo].[Buyer] OFF
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([CarID], [VinNumber], [CarMake], [CarModel], [ModelYear]) VALUES (1, N'W93uie9u9r0tu394r', N'Toyota', N'Camry', 2017)
SET IDENTITY_INSERT [dbo].[Car] OFF
ALTER TABLE [dbo].[Car_Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Car_Buyer_Buyer] FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Buyer] ([BuyerID])
GO
ALTER TABLE [dbo].[Car_Buyer] CHECK CONSTRAINT [FK_Car_Buyer_Buyer]
GO
ALTER TABLE [dbo].[Car_Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Car_Buyer_Car] FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([CarID])
GO
ALTER TABLE [dbo].[Car_Buyer] CHECK CONSTRAINT [FK_Car_Buyer_Car]
GO
USE [master]
GO
